*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.parent{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly
    ;
    align-items: center;
}
.profile{
    width: 60%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.search{
    width: 45%;
    height: 50px; 
    display: flex;
    border: solid;
    border-color: #0989FF;
    border-width: 1.5px;
}

.signin{
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
.img{
    width: 10%;
    height: 30px;
    align-items: center;
   
}
.bar{
    padding: 15px 40px;
    width: 100%;
    outline: none;
}
.ppp{
    width: 5%;
    font-size: 25px;
}
h6{
    font-size: 15px;
    color: rgb(142, 142, 142);

}
p{
    font-size: 17px;
    font-weight: 520;
}
.icon{
    width: 10%;
    font-size: 25px;
    display: flex;
    gap: 20px;
}

.third-div{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.search-icon{
    width: 6%;
    height:30px ;
    padding: 10px;
    background-color: #0989FF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 25px;
  
    
}


.parent-2{
    width: 100%;
    height: 54px ;
    background-color: white;
    border-top: solid;
    border-width: 2px;
    border-color: #F2F3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.div-1{
    width: 25%;
    height: 54px;
    background-color: #0989FF;
    display: flex;
    justify-content: space-around;
}
.div-2{
    width: 40%;
    cursor: pointer;
    
}
.option{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
  
}
.option li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.div-3{
    width: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;

}
h5{
    font-size: 13px;
    color: rgb(142, 142, 142);

}
p{
    font-weight: 500;
    cursor: pointer;
}
.phone{
    width: 8%;
    font-size: 20px;
    font-weight:300 ;
    color: #0989FF;
   
}
.signin-2{
    width: 60%;
}
.ph:hover{
    color: #0989FF;
    transition: 0.2s;
}
ul li:hover{
    color: #0989FF;
    transition: 0.2s;
}
.inline{
    width: 60%;
    display: flex;
    justify-content: space space-evenly;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 20px;

}
.al-c{
    font-size: 18px;
    font-weight: 300;

}
.arrow-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}
.icon i:hover{
    color: #0989FF;
    transition: 0.2s;
}
.parent-3{
    width: 80%;
    display: flex;
    justify-content: space space-between;
    align-items: center ;

}
ul li i{
    font-size: 13px;
    padding-left:5px ;

}
.blue-bg{
    width: 100%;
    height: 550px   ;
    background-color: rgb(17, 80, 97);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text{
    width:35%;
    height: 200px;
}
.text h2{
    font-size: 50px;
    color: #ffffff;
}
.text h5{
    font-size: 13px;
    color: #ffffff;
}
.text h6{
    font-size: 20px ;
    color: #ffffff;

}
.text button a{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 16px ;    
    
}   
.watch1{
    height: 400px;
    width: 380px;
}
.text button{
    border-radius: 10px;

}
.btn{
    width: 100px;
    height: 20px;
}
.grid{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
  
}
.products img{
    width: 100px;
    height: 150px;

}
.smartphones{
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.blue-circle img{
    width: 85px;
    height: 105px;
}

.blue-circle{
    width: 190px;
    height: 190px;
    background-color: #EAF5FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.txt-smartphone{
    font-size: 17px;
}

.txt-product{
    font-size: 13px;
}
.blue-circle img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.box{
    width: 320px;
    height: 90px;
    background-color: #F6F7F9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.parent-4{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  
}
.box-p-1{
    font-size: 16px;
    font-weight: 600;
}
.box-p-2{
    font-size: 13px;
}
.text-4{
    width: 190px;;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  
}
.icon-4{
    width: 20px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #FD4B6B;
}
.parent-5{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.heading-5{
    width: 25%;
    height: 100%;
    font-size: 27px;
    display: flex;
    align-items: center;

}
.trending{
    font-weight: 1000;
}
.div-5{
    width: 25%;
    height: 100px;
    font-weight: 800;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.text-5{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 580;
}
.line{
    width: 30%;
    height: 2.5px;
    background-color: #F0F2F4;
}
.parent-6{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;


}
.grid-2{
    width: 100%;
    height: 450px;
    border: solid;
    border-color: #F0F2F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0,auto;
    gap: 5px;

 
}
.jjj{
    width: 80%;
    margin: 0 auto;
    /* background-color: #0989FF; */
}
.grid-2 img{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    

.txt-headphone{
    font-size: 13px;
}
.txt-wireless{
    font-size: 14px;
    font-weight: 750;
}
.txt-review{
    font-size: 12px;

}
.price{
    font-size: 17px;
    color: #0989FF;
    font-weight: 700;

}
.line-2{
    width: 100%;
    height: 2px;
    background-color: #F0F2F4 ;
}
.grid-2 img:hover{
    transition: 0.5s;
    transform: scale(1.1);
   
}
.parent-7{
    width: 100%;
    height: 320px;
    display: flex;
    gap: 30px;
    margin-top: 80px;
    
}
.phone-img{
    width: 100px;
    height: 100px;
}
.content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
 
}
.content button{
    width: 19%;
    height: 50px;
    border: none;
    font-size: 13px;
    font-weight: 550;
    margin-top: 20px;
}
.content h3{
    font-size: 25px;

}

.below-div1{
    width: 60%;
    height: 250px;
    border-radius: 12px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/product/banner/product-banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;background-size: cover;
  
  
}
.below-div2{
    width:28% ;
    height: 250px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/product/banner/product-banner-2.jpg);
    border-radius: 12px;
    
}
.content-2 button{
    width: 25%;
    height: 7   0px;
    font-weight: 550;
    text-decoration: none;
    border: none;
    background-color: #90DAFF ;

    
}
.content-2{
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;

}
.text-hyper{
    font-size: 20px;
    font-weight: 600;
}
.sale-7{
    font-size: 14px;

}
.sale-ph{
    font-size: 14px;
}
.headphone-img{
    width: 50%;
    height: 200px;
}
.i-hover i:hover{
    transform: translateX(8px);
    transition: 0.5s;
    color: #0989FF;
}
.i-hover:hover{
    color: #0989FF;
}
.parent-8{
    width: 100%;
    height: 1000px;
    background-color: #ECF2F7;
}
.deal{
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
   
.deal-of-the-day{
    width: 20%;
    height: 50px;
    font-size: 30px;
    margin-left: 50px;
    font-weight: 700;

}
.line-3{
    width: 40%;
    height: 3px;
    background-color: #ffffff;
}
.viw-details button{
    width: 145px;
    height: 40px;
    padding: 10px;
    background-color: #0989FF;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}
.viw-details{
    width: 15%;
    height: auto;
    
}
.parent-9{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-evenly;
    gap: 5px;
   
}

.div-flex{
    width: 28%;
    height: 40%;
    background-color: #ffffff;
    border-radius: 10px;
   
 
}
.div-flex img{
    width: 100%;
    height: auto;
}
.kkk{
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  
}
.div-flex img:hover{
    transition: 0.5s;
    transform: scale(1.1);
   
}
.parent-10{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.girl-div{
    width: 90%;
    height: 350px;
    border: solid;
    border-color: mediumvioletred;
    margin-left: 60px;border-radius: 8px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/product/gadget/gadget-girl.png);
    background-position: bottom right;
    background-repeat: no-repeat;

}
.grid-3{
    width: 55%;
    height: 90px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 23px;
    margin-right: 51px;
   
}
.lll{
    width: 260px;
    height: 440px;
    border: solid;
    border-width: 2px;
    border-color: #ECF2F7;
    border-radius: 8px;
}
.lll img{
    width: 100%;
    height: 300px ;
   
    

}
.flex{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

}
.gradient{
    width: 86%;
    height: 180px;
    margin-left: 60px;
    border-radius: 8px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/product/gadget/gadget-banner-1.jpg);
    background-position: center;
}
.p10-div-1{
    width: 30%;
    height: auto;
    
    
}
.girl-div h5{
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-left: 40px;
    margin-top: 30px;
}
.hr-1{
    width: 40%;
    height: 1.5px;
    background-color: #0989FF;
    margin-left: 40px;
    

}
.girl-div p{
    font-size: 14px;
    margin-left: 40px;
    margin-top: 5px;
    
}
.girl-div button{
    margin-left: 32px;
    margin-top: 30px;
    width: 90px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    border: none;
    list-style-type: none;
    background-color: #ffffff;
    cursor: pointer;
}
.girl-div button:hover{
    color: #0989FF;
    transition: 0.9s;
}
.gradient h3{
    width: 190px;
    height: 30px;
    color: white;
    font-size: 22px;
    
}
.gradient p{
    font-size: 13px;
    color: #ffffff;
    font-weight: 600;
}
.lkl{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-top: 10px;
    margin-left: 20px;
}

.centre{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.parent-11{
    width: 88%;
    height: 500px;
    background-color: #0989FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.p11-div1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.p11-div1 h1{
    font-size: 50px;
    color: #ffffff;
    font-weight: 800;
 

}
.p11-div1 h2{
    font-size: 40px;
    color: #ffffff;
}
.p11-div1 h5{
    font-size: 17px;
    color: #CAE5FF;
}
.p11-btn{
    width: 100px;
    height: 40px;   
}
.p11-btn button{
    width: 140px;
    height: 46px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 30px;
}
.p11-btn button:hover{
    color: black;
    background-color: #ffffff;
    transition: .3s;
}
.parent-12{
    width: 100%;
    height: 180px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.newarrivals{
    width: 20%;
    height: auto;
}
.line-5{
    width: 60%;
    height: 2px ;
    background-color: #e9e9e9;
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-color: black;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-13{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div-flex2{
    width: 20%;
    height: 500px;
    border: solid;
    border-width: 2px;
    border-color: #ECF2F7;
    border-radius: 8px;
  
}
.div-flex2 img{
    width: 100%;
    height: auto;
}
.p13-txt1{
    font-size: 12px;
   
}
.p13-txt2{
    font-size: 13px;
    font-weight: 700;

}
.p13-txt3{
    font-size: 12px;
}

.div-flex2 img:hover{
    transition: 0.5s;
    transform: scale(1.1);
}
.parent-14{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around ;
}
.discount h2{
    width: auto;
    height: 100px;
    margin-top: 50px;
    
}
.featured h2{
    width: auto;
    height: 100px;
    margin-top: 50px;

}
.selling h2{
    width: auto;
    height: 100px;
    margin-top: 50px;

}
.disc{
    width: 27%;
    height: 100%;
  
}
.p14-flex1{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.p14-flex1 img{
    width: auto;
    height: 85%;
    background-color: #ECEFF4;
    border-radius: 7px ;
    
}
.p14-img{
    width: 40%;
    height: 100%;
    margin-top: 22px;

}
.content-4{
    width: 40%;
    height: auto;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.feat{
    width: 27%;
    height: 600px;

}
.sell{
    width: 27%;
    height: 600px;
}
.p14-img img:hover{
    transition: 0.5s;
    transform: scale(1.1);
    
}
.hr2{
    color: bisque;
}

.line-6{
    width: 30%;
    height: 2px;
    background-color:  #ECEFF4;
    margin-right: 110px;

}
.latest{
    width: 40%;
    height: auto;
    margin-left: 50px;
    
}
.viw-details2 button{
    width: 140px;
    height: 43px;
    padding: 10px;
    background-color: #0989FF;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 70px;
    
}
.viw-details2 button:hover{
    background-color: black;
    transition: 0.3s;
}
.parent-15{
    width: 90%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
    
}
.p15-div1{
    width: 32%;
    height: 90%;
    
  
}
.p15-img1{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/blog/blog-2.jpg);
    

}
.content-5{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.content-5 p{
    font-weight: 600;
    font-size: 18px;

}
.content-5 h4{
    font-size: 14px;
    color: #4c4c4c;
}
.content-5 button{
    width: 110px;
    height: 35px;
    background-color: white;
    border: solid;
    border-color:  #d1d1d1;
    border-width: 2px;
    border-radius: 6px;
}
.p15-img2{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/blog/blog-3.jpg);

}
.p15-img3{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/blog/blog-1.jpg);
}
.tag{
    width: 150px;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag p{
    color: white;
    font-size: 14px;
}
.content-5 button:hover{
    background-color: #0989FF;
    color: white;
    transition: 0.3s;
}
.parent-16{
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
.img-div{
    width: 17%;
    height: 240px;

}
.p16-img1{
    width: 100%;
    height: 100%;
    background-image: url(https://shofy-angular.vercel.app/assets/img/instagram/instagram-1.jpg);
    border-radius: 10px;
}
.p16-img2{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/instagram/instagram-2.jpg)

}
.p16-img3{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/instagram/instagram-3.jpg)
    
    
}
.p16-img4{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/instagram/instagram-4.jpg)

}
.p16-img5{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-image: url(https://shofy-angular.vercel.app/assets/img/instagram/instagram-5.jpg)
}
.parent-17{
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #0989FF;
    justify-content: space-around;
    align-items: center;


}
.p17-div1{
    width: 40%;
    height: auto;
   
}
.p17-div1 h2{
    font-size: 35px;
    color: white;
}
.search2{
    width: 35%;
    height: 65px;
    display: flex;

}
.subscribe{
    width: 230px;
    height: auto;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.subscribe p{
    color: white;
    font-size: 15px;
}
.parent-18{
    width: 100%;
    height: 350px;
    background-color: #F4F7F9;
    display: flex;
    justify-content: space-evenly;
    
    
}
.p18-div1{
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 15px;
    
    
}
.p18-div1 i{
    font-size: 30px;

}
.p18-div1 p{
    margin-top: 20px;
}
.p18-div1 img{
    width: 45%;
    height: auto;

}
.p18-div2{
    width: 20%;
    height: 40%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    

}
.p18-div3{
    width: 20%;
    height: 60%;
    margin-top: 90px;
}
.p18-div2 ul li{
    font-size: 15px;
}
.p18-div3 ul li{
    font-size: 15px;
}
.p18-div4{
    width: 15%;
    height: 40%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.p18-div4 p{
    font-size: 15px;

}
.line-7{
    width: 90%;
    height: 2px;
    background-color: #e9e9e9;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #F4F7F9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.theme{
    color: #0989FF;
    text-decoration: none;
}
.footer img{
    width: 15%;
    height: 30%;
    margin-right: 50px;
}
.span{
    margin-left: 50px;
}
.home{
    display: none;
}
.phone{
    display: none;
}
@media(max-width:1200px){
    .home{
        display: block;
    }
    .parent{
        width: 98%;
        margin: 0 auto;
        justify-content: space-evenly;
    }
    .third-div{
        width: 30%;
    }
    .search{
        width: 39%;
    }
    .img{
        width: 17%;
    }
    .icon{
       width: 50%;
    }
    .profile{
        width: 100%;
        justify-content: space-between;
    }
    .parent-2{
        width: 98%;
        margin: 0 auto;
    }
    .div-2{
        width: 50%;
    }
    .div-2 ul li{
        display: none;
    }
    .div-3{
        width:20% ;
    }
    .grid{
        width: 90%;
        justify-content: space-evenly;
        margin: 0 auto;
        
    }
    .blue-bg{
        margin: 0 auto;
        width: 99%;
    }
    .smartphones{
        width: 12%;
    }
    .signin{
        width: 100%;
    }
    .signin p{
        font-size: 14px;
    }
    .text{
        width: 47%;
        height: 50%;
    }
    .parent-10{
        width: 100%;
        height: 100%;
        justify-content: space-between;

    }
    .parent-4{
        width: 58%;
        height: 100%;
        margin: 0 auto;
    }
    .box{
        width: 40%;
        height: 50%;
    }
    .icon-4{
        width: 25%;
        height: 30%;
    }
    .grid-3{
        grid-template-columns: repeat(2,1fr);
        height: 100%;
    }
    .grid-2{
        height: 360px;
    }
    .grid-2 img{
        height: 65%;
    }
    .centre{
        width: 100%;
        height: 100%;
    }
    .parent-6{
        width: 95%;
    }
    .blue-circle img{
        width: 50%;
        height: 50%;
    }
    .blue-circle{
        width: 150px;
        height: 150px;
    }
    .heading-5{
        font-size: 24px;
    }
    .div-5{
        width: 30%;
    }
    .parent-7{
        width: 98%;
        margin: 0 auto;
        
    }
    .below-div1{
        width: 150%;
    }
 
    .below-div2{
        width: 100%;
    }
    .deal-of-the-day{
        font-size: 20px;
    }
    .parent-8{
        height: 740px;
    }
    .centre{
        width: 100%;
        height: 70%;
        margin: 0 auto;
    }
    .parent-14{
        width: 98%;
        margin: 0 auto;
    }
    .p14 img{
        width: 80%;
    }
}
@media(max-width:600px){
    .img{
        width: 45%;
    }
    .search{
        width: 6%;
        border: none;
    }
    .third-div{
        width: 94%;
    }
    .icon{
        width: 100%;
        font-size: 20px;
    }
    .home{
        display: none;
    }
    .phone{
        display: block;
    }
    .div-1{
        width: 55%;
    }
    .div-1 p{
        font-size: 15px;
    }
    .div-3{
        width: 45%;
    }
    .signin{
        display: none;
    }
    .blue-bg{
        height: 470px;
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 95%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text h2{
        font-size: 25px;
    }
    .watch{
        width: 95%;
        height: 60%;
        display: flex;
        justify-content: center;
    }
    .watch img{
        width: 70%;
        height: 70%;
        margin: 0 auto;
        align-items: center;
    }
    .grid{
        width: 98%;
        height: 360px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
        gap: 10px;
    }
    .smartphones{
        width: 98%;
    }
    .blue-circle{
        width: 110px;
        height: 110px;
    }
    .parent-4{
        width: 85%;
        height: 95%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 30px auto;
        
    }
    .box-p-1{
        font-size: 13px;
    }
    .box-p-2{
        font-size: 12px;
    }

    .button{
        width: 100px;
    }
    .box{
        width: 100%;
        height: 95%;
    }
    .heading-5{
        width: 15%;
        font-size: 11px;
    }
    .text-5{
        font-size: 11px;
    }
    .div-5{
        width: 40%;
    }
    .parent-6{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .grid-2{
        height: 100%;

    }
    .txt-wireless{
        font-size: 10px;
    }
    .txt-headphone{
        font-size: 11px;
    }
    .price{
        font-size: 12px;
    }
    .txt-review{
        font-size: 11px;
    }
    .parent-7{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .below-div1{
        height: 50%;
        width: 97%;
        margin: 30px auto;
    }
    .below-div2{
        width: 97%;
        height: 50%;
        margin: 0 auto;
    }
    .parent-8{
        width: 100%;
        height: 100%;
        margin: 50px auto;
    }
    .content h3{
        font-size: 15px;
    }
    .content button{
        width: 42%;
    }
    .content{
        height: 92%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .deal{
        width: 97%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
    }
    .deal-of-the-day h3{
        font-size: 13px;
        display: flex;
        align-items: center;
    }
    .viw-details{
        width: 25%;
        height: 50px;
        margin: 40px auto;
    }
    .viw-details button{
        width: 92px;
        height: 30px;
        font-size: 10px;

    }
    .parent-9{
        width: 100%;
        height: 90%;
    }
    .kkk{
        margin: 0 9px;
    }
    .txt{
        font-size: 12px;
    }
    .txt-wireless{
        font-size: 11px;
    }
    .parent-10{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .grid-3{
        width: 95%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 30px auto;
    }
    .lll{
        width: 100%;
        height: 100%;
    }
    .lll img{
        width: 100%;
        height: 150px;
    }
    .p10-div-1{
        width: 100%;
        height: 100%;
       
    }
    .girl-div{
        width: 90%;
        height: 180px;
        margin: 0 auto;
        background-size: contain;
    }
    .girl-div h5{
        font-size: 12px;
        margin: 0 40px;

    }
    .girl-div p{
        font-size: 10px;
    }
    .girl-div button{
        margin: 0 30px;
    }
    .gradient{
        width: 90%;
        height: 180px;
        margin: 0 auto;
        
    }
    .centre{
        display: none;
    }
    .parent-12{
        width: 100%;
        height: 100%;
        margin: 0 0;
    }
    .newarrivals h1{
        font-size: 13px;
    }
    .parent-13{
        width: 100%;
        height: 255px;
    }
    .div-flex2{
        height: 250px;
    }
    .p13-txt2{
        font-size: 10px;
    }
    .p13-txt1{
        font-size: 11px;
    }
    .parent-14{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .p14-flex1{
        width: 100%;
        display: flex;
    }
    .p14-img {
        margin-top: 50px;
    }
    .p14-img img{
        width: auto;
        height: 70%;
    }
    .disc{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .feat{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .sell{
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .parent-12{
        width: 97%;
        margin: 0 auto ;    
    }
    .latest{
        height: 100%;
        margin: 0 0;
    }
    .latest h1{
        font-size: 15px;
    }
    .line-6{
        margin: 0 0;
    }
    .viw-details2 button{
        width: 96px;
        height: 33px;
        margin: 0 0;
        font-size: 11px;

    }
    .parent-15{
        width: 100%;
        height: 100%
    
    }
  

}


